/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* -- Fonts -- */

@import url("//hello.myfonts.net/count/269b38");
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/269B38_0_0.eot');
    src: url('../fonts/269B38_0_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/269B38_0_0.woff') format('woff'),
        url('../fonts/269B38_0_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 

@font-face {
    font-family: 'dk_pisangregular';
    src: url('../fonts/dk_pisang-webfont.eot');
    src: url('../fonts/dk_pisang-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dk_pisang-webfont.woff') format('woff'),
         url('../fonts/dk_pisang-webfont.ttf') format('truetype'),
         url('../fonts/dk_pisang-webfont.svg#dk_pisangregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatinModernMono10Regular';
    src: url('../fonts/lmmono10-regular-webfont.eot');
    src: url('../fonts/lmmono10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lmmono10-regular-webfont.woff') format('woff'),
         url('../fonts/lmmono10-regular-webfont.ttf') format('truetype'),
         url('../fonts/lmmono10-regular-webfont.svg#LatinModernMono10Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//@font-face {
//        font-family: "Avenir";
//        src: url('../fonts/Avenir.ttc');
//        font-weight: normal;
//    font-style: normal;
//    }


html,
button,
input,
select,
textarea {
    font-size: 1em;
    color: #222;
}

body {
    font-size: 1em;    
    line-height: 1.4;
    font-family: 'dk_pisangregular';
}

/* -- Headings -- */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    text-align: left;
    margin: 0; 
    color:white;
}

h1, .h1 { 
    font-size: 5em; 
    text-align: center;
    color: #fff;
    font-family: 'dk_pisangregular';
}

h2, .h2 { 
    font-size: 24px; 
}
h3, .h3 { 
    font-size: 20px;
    
}
h4, .h4 {
    font-size: 16px; 
}
h5, .h5 { 
    font-size: 14px; 
}

/* -- Generic Elements -- */


p {
    font-size: 1em;
    color: white; 
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;  
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* 
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
} 

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   /* ==========================================================================
   Standard layout styles
   ========================================================================== */

.sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    float: left;
    background-color: white;
    &.index {
        background-color: rgba(255,255,255,0.9);
    }
    font-family: 'dk_pisangregular';
    color: #20CE55;
    text-align: center;
    z-index:10;
    ul {
        margin: 0;
        padding:0;
//        margin-top: 10%;
        li {
            font-size: 4em;
            list-style-type: none;
            text-align: center; 
            line-height:1;
            &.journalfont {font-size: 60px;}
            &.communityfont {font-size: 70px;}
            &.contactfont {font-size: 80px;}
            &.aboutfont {font-size: 60px;}
            a {
                color:#20CE55;
                text-decoration: none;
        
                background-image: url(img/menu-underline-fill.png);
                color: #20CE55; background-repeat: repeat-x; background-position: 100% 87%;
                
                -webkit-transition-property: background-image;
                -webkit-transition-duration: 0.2s;
                -webkit-transition-timing-function: ease-out;
            }
            a:hover {
                background-image: url(img/menu-underline.png); 
                color: #20CE55; background-repeat: repeat-x; 
                background-position: 100% 87%;
                background-size:100% auto;
                &.journalfont {background-position: 100% 80%}
            }
        }
    }
    img {
        display: block;
        margin: 30px auto 10% auto;
    }
    h4 {
        font-size: 1em;    
        line-height:1.5;
        text-align: center;
        margin: 5%;
    }
    #poem-link {
        color: #20CE55;
    }
}

/* Some stylesheet reset */
#cssmenu > ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

/* The container */
#cssmenu > ul {
    display: block;
    position: relative;
    width: 100%;
}

/* The list elements which contain the links */
#cssmenu > ul li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;   
}
/* General link styling */
#cssmenu > ul li .last {
    /* Layout */
    display: block;
    position: relative;
    margin: 0;
    width: 300px;
    padding: 3%;
    background-color: rgba(255,255,255,0.9);

    /* Typography */
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 300;
    font-size: 52px;
}


#cssmenu > ul li>a:hover::before, #cssmenu > ul li:hover>a::before {
    border-left: 4px solid rgba(0, 0, 0, .25);
}

/* Showing the submenu when the user is hovering the parent link */
#cssmenu > ul li:hover>ul {
    top: 0px;
    opacity: 1;
}


#content {
    display:block;
    background-color: #20CE55;
    height:auto;
    float:left;
    margin-left:25%;
    width: 75%;
    &.journal {background-color: #FFFFFF}
    p {
        color: #FFF;
        font-family: Avenir;
    }
    &.contact-bg {background-color: white;
        p {color: #20CE55;}
    }
}

.inner-content {
    width: auto;
    //max-width:1400px;
    position: relative;
    height: auto;
    margin: 3% auto 4% auto;
    padding: 0 4%;
    z-index: 10;
    &.contact {
        height: 600px;
        padding:0 4%;
    }
}

/*
 * MOBILE HIDE AND SHOW
 */


 .mobile-only {
    display: none;
 }

 .screen-only{
    display:block;
 }  

/*HEADER styles*/
header {
    color:white;
    margin: 0 0 0;
        h1 {
        &.community-header{
            font-size: 10em;
            line-height: 0.9;
            margin-top: 3%;
            letter-spacing: 0.25em; 
        }
        &.contact-header{
            font-size: 10em;
            line-height: 0.9;
            margin-top: 0; 
            margin-bottom:20px;
            overflow:hidden;
            color: #20CE55;
            white-space:nowrap;
        }
        &.index-header{
            font-size: 49px; 
            margin-top:37%;
            line-height: 1.2;
            text-align: left;
            text-transform: uppercase; 
        }
        &.journal-header{
            font-size: 10em;
            line-height: 0.9;
            margin-top: 0; 
            color: #20CE55;
        }
    }
}

/*FOOTER styles*/
.site-footer {
    display: block;
    float: right;
    padding-top: 20px;
    background-color: #FFFFFF;
    width:75.13%;
    height:220px;
    position:relative;
    overflow:hidden;
    h3,p {
        color: #20CE55;
    }
}

.journal-site-footer {
    display: block;
    clear:both;
    float: right;
    padding-top: 20px;
    background-color: #20CE55;
    width:75.13%;
    height:250px;
    p,h3 {
        color: #FFFFFF;
    }
}

.footer-container {
    overflow: hidden;
    margin: 0 auto;
    padding-top: 0;
    top: 7px;
    position: relative;
}

.footer-content {
    float: left;
    overflow: hidden;
}

.footer-details {
    float:left;
    width:50%;
}

.footer-image {
    width:162px;
    height:185px;
    float: left;
    padding: 0 7%;
    img {
        width:100%;
        height:100%;
    }
}

.footer-address {
    float: left;
    p {
        margin: 0;
        font-size: 25px;
    }
}

.footer-posts {
    float: right;  
    width:50%; 
    ul {
        list-style: none;
    } 
} 

/* ==========================================================================
   HOME PAGE CLASSES
   ========================================================================== */

#image-carousel {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
    overflow-x: hidden;
    #image-container {
        position:absolute;
        width:500%;
        height:100%;
        margin:0;
        margin-left:-400%;
        padding:0;
        list-style-type: none;
        overflow:visible;
        > div {
            float:left;
            width:20%;
            overflow:hidden;
            height:100%;
            background: url('../img/contact.jpg') no-repeat; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            // IE Cover backgrounds
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
            -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
        }
    }
} 

#poem {
    position:absolute;
    width:65%;
    height:90%;
    margin: 2.5% 0 0 5%;
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,0.9);
    z-index:100;
    font-family:Avenir;
    color:#20CE55;
}


.index-content {
    margin-left: 27%;
    width: 300px;
    padding: 1%;
    background-color: rgba(255,255,255,0.9);

    /* Typography */
    color: #20CE55;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 300;
    font-size: 52px;

    &.about {margin-top: 18%;}
    &.journal {margin-top: 20%;}
    &.community {margin-top: 32%;}
    &.contact {margin-top: 38%;}
}


/* ==========================================================================
   ABOUT PAGE CLASSES
   ========================================================================== */

.fade-on-scroll > * {
    opacity:0;
}

.how-header, .what-header, .work-header {
    line-height: 0.9;
    margin-top: 0; /* determines spacing of headers*/
    letter-spacing: 0.25em;
    white-space:nowrap;
}

h1 {
    &.who-header{line-height: 0.9;  letter-spacing: 0.25em; text-align : center; white-space:nowrap;}
}

.col-container {
    width:100%;
    .col1 {
        width: 42%;
        float: left;
        padding-left:3%;
        font-size: 1em;
    }
    .col2 {
        width: 44%;
        float: left;
        margin: 2% 0 0 6%;
    }
}

.col-container-2 {
    width:100%;
    .col1-2 {
        width: 41%;
        float: left;
        padding-left:3%;
        font-size: 1em;
        line-height: 1;
        margin-top: 2%;
    }
    .col2-2 {
        width: 45%;
        float: left;
        margin: 0 0 0 6%;
        text-align: right;
    }
}

.col-container3 {
    width:100%;
    height: 350px;
    margin-top: 2%;
    .col13 {
        width: 66%;
        float: left;
        padding-left:1%;
        font-size: 1em;
    }
    .col23 {
        width: 28%;
        float: right;
        margin-right:3%;
        text-align: left;
        //margin: 2% 0 0 11%;
    }
}

.seperator{
    width: 100%;
    img { width: 100%; height:auto;}
}

.about-slanted-text-right-col{
    font-size:2em;
    text-align: right;
    -webkit-transform: rotate(5deg);    /* Safari */
    -moz-transform: rotate(5deg);    /* Firefox */
    -ms-transform: rotate(5deg);    /* IE */
    -o-transform: rotate(5deg);    /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);    /* Internet Explorer */
}

.about-slanted-text-right-col-centered {
    font-size: 4em;
    text-align: center;
    line-height:1;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);    /* Firefox */
    -ms-transform: rotate(1deg);    /* IE */
    -o-transform: rotate(1deg);    /* Opera */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);     /* Internet Explorer */
}

p {
    &.center-paragraph {padding-left:3%; ;}
}

.clear {
    clear: both;
}

#word-cloud {
    position:relative;
    width:100%;
    color:white;
    .box {
        height:100%;
        float: left;
        position:relative;
        line-height:1;
        text-align:center;
        overflow: visible;
        cursor:pointer;
        img {
            width:95%;
            height:auto;
        }
        span:hover + .speech {
            display:block;
        }
    }
    .speech {
        position:absolute;
        display:none;
        top:-50%;
        left:40%;
        padding:15px;
        color:#20CE55;
        background:white;
        font-size:0.5em;

        /* css3 */
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
        background:-moz-linear-gradient(top, #333, #000);
        background:linear-gradient(top, #333, #000);
    }
    /* creates triangle */
    .speech:after {
       content:"";
       display:block; /* reduce the damage in FF3.0 */
       position:absolute;
       bottom:-15px;
       left:20%;
       width:0;
       border-width:15px 15px 0;
       border-style:solid;
       border-color:white transparent;
    }
    .speech:hover {     // speech bubble can be accessed after it is revealed but is not triggered directly
        display:block;
    }
    .row {
        top:0;
        left:0;
        padding:0;
        width:100%;
        height:90px;
        .fitLine {
            white-space: nowrap;
        }
        .fitSmaller {
            white-space: nowrap;
        }
    }
    .row1 {
        margin-top:55px;
        > div {
            &:nth-child(1) {
                width:4%;
            }
            &:nth-child(2) {
                width:38%;
            }
            &:nth-child(3) {
                width:23%;
            }
            &:nth-child(4) {
                width:10%;
            }
            &:nth-child(5) {
                width:25%;
            }
        }
    }
    .row2 {
        height: 80px;
        > div {
            &:nth-child(1) {
                width:93.5%;
            }
            &:nth-child(2) {
                width:6.5%;
            }
        }
    }
    .row3 {
        > div {
            &:nth-child(1) {
                width:38%;
            }
            &:nth-child(2) {
                width:14%;
            }
            &:nth-child(3) {
                width:14%;
            }
            &:nth-child(4) {
                width:16.5%;
            }
            &:nth-child(5) {
                width:17.5%;
            }
        }
    }
    .row4 {
        height: 80px;
        > div {
            &:nth-child(1) {
                width:46%;
            }
            &:nth-child(2) {
                width:13%;
            }
            &:nth-child(3) {
                width:25%;
            }
            &:nth-child(4) {
                width:16%;
            }
        }
    }
    .row5 {
        > div {
            &:nth-child(1) {
                width:25%;
            }
            &:nth-child(2) {
                width:53%;
            }
            &:nth-child(3) {
                width:17%;
            }
            &:nth-child(4) {
                width:5%;
            }
        }
    }
}

/* ==========================================================================
   JOURNAL PAGE CLASSES
   ========================================================================== */

.left-col {
    float: left;
    margin: 3%;
    width: 68%; 
    font-family: 'LatinModernMono10Regular';
}
.navi {
    text-align: center;
}
.navi ul.pages{
    margin: 0; padding: 0;
}
.navi ul.pages li{
    display: inline;
    margin: 5px;
}

.post-title {
    color: #20CE55;
    margin: 10px 0 0;
}

.post {
    color: #808080;
    font-family: 'LatinModernMono10Regular';
    a {
        color: #808080;
        text-decoration:none;
    }
    p {
        color: #808080 !important;
        font-family: 'LatinModernMono10Regular' !important;
        padding-top: 20px;
    }
    h2 {
        color: #20CE55;
        margin: 10px 0 0;
    }
}

#journal-widget {
    background-color: #20CE55;
    display: block;
    float: left;
    height: 500px;
    left: 0;
    padding-top: 200px;
    position: relative;
    width: 23%;
    font-family: 'LatinModernMono10Regular';
    ul {
        list-style: none;
        padding: 0;
        li {
            text-align: left;
            a {
                color: #FFFFFF;
            }
        }
    }
    h3,li { 
        //text-align: center;
    }
}

/* ==========================================================================
   COMMUNITY PAGE CLASSES
   ========================================================================== */

.people-grid {
    overflow: hidden;
    width: 100%;
    margin:0;
    padding:0;
    li {
        display: block;
        position:relative;
        float: left;  
        list-style: none outside none;
        margin: 0 2% 2% 0;
        width: 23.5%;
        z-index:1;
        font-family: 'Avenir';
        * { // all children have transitions
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
        .white-label {
            background-color:white;
        }
        img {
            width:100%; height:auto; z-index:10;
        }
        .details {
            position:absolute; 
            width:100%; 
            height:100px; 
            top:50%; 
            left:0; 
            margin:-50px 0 0 0; 
            text-align: center; 
            color:green;
            z-index:100; 
            font-size:20px;
            .name {
                font-size:22px;
                -webkit-transform: translateY(-500%);
                -moz-transform: translateY(-500%);
                -o-transform: translateY(-500%);
                -ms-transform: translateY(-500%);
                transform: translateY(-500%);
                -moz-opacity: 0.00;
                opacity: 0.00;
            }
            .job {
                -webkit-transform: translateY(500%);
                -moz-transform: translateY(500%);
                -o-transform: translateY(500%);
                -ms-transform: translateY(500%);
                transform: translateY(500%);
                -moz-opacity: 0.00;
                opacity: 0.00;
                transition-delay: 0.1s;
                -webkit-transition-delay: 0.1s; /* Safari */
            }
            .job, .social {
                font-size:18px;
            }
            .social {
                width:32px;
                height:32px;
                -moz-opacity: 0.00;
                opacity: 0.00;
                transition: opacity 0.1s 0.02s ease;  /* Mouse leave: immediate */
                margin:20px auto 0 auto;
                &.facebook {
                    background:url('../img/social_links_32.png') no-repeat 0 0;
                }
                &.twitter {
                    background:url('../img/social_links_32.png') no-repeat -32px 0;
                }
            }
        }

        &:nth-child(4n){margin-right:0;}    // every fourth list element to be flush against right side
        &:hover img {                       // on hover of list element fade out child image
            opacity: 0.2;   
        }
        &:hover .details {                         // on hover of list element fade in child paragraph
            .name, .job {
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -o-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
                -moz-opacity: 1.00;
                opacity: 1.00;
            }
            .social {
                transition: opacity 0.3s 0.3s ease; /* Mouse enter: delay */
                -moz-opacity: 1.00;
                opacity: 1.00; 
            }
        }
    }
}

/* ==========================================================================
   CONTACT PAGE CLASSES
   ========================================================================== */

.top-image{
    float:left;
    margin-bottom: 20px;
}

.middle-image{
    float:left;
    margin-bottom: 20px;
    margin-right: 2%;
    width: 49%;
    &.right {
        margin-right: 0;
    }
}

.bottom-image{
    float:left;
    margin-bottom: 20px;
}

.maps {
    float:left;
    margin-bottom: 20px;
    margin-right: 2%;
    width: 100%;
    height:100%;
    padding-bottom: 230px;

    &.right {
        margin-right:0;
    }
    .contacts {
        list-style: none;
        float: left;
        width: 50%;
        height:auto;
        padding: 0 0 10px 0; 
        p {
            font-family: Avenir;
            a {
                color: #20CE55;
                text-decoration:none;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
#left-map-canvas, #right-map-canvas {
    float: left;
    margin-bottom: 15px;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


/* ==========================================================================
   Smart Phone
   ========================================================================== */

@media screen and (min-width: 0px) and (max-width:768px) {

    html {
        background-color: #20CE55;
    }

    ///// GENERAL //////
    .screen-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .sidebar {
        position: relative;
        width: 100%;
        padding-bottom: 3%;
        ul {padding-top:20%;}
        &.index {
            background-color: white;
        }
    }
    .mobile-logo{
        width:40%;
        float:left;
        padding-left: 5%;
        background-color: white;
    }

    .mobile-menu{
        width:55%;
        float:left;
        background-color: white;
        margin-top: -7%;
    }

    #content {
        width: 100%;
        margin-left:0;
    }

    .index-header-mobile {
        font-size: 2em;
        text-align: center;
        padding : 10%;
    }

    p { font-size: 0.8em;}

    h1{
        &.index-header{margin-top:44%;}
    }
    h3 {
        &.about-slanted-text-right-col {text-align: center;}
    }

    #word-cloud {
        .row {
            height:40px;
        }
    }

    ///// FOOTER : 0 - 768 //////

    .site-footer {
        padding: 20px 0;
        background-color: #FFFFFF;
        width:100%;
        height:auto;
    }

    .journal-site-footer {
        width:100%;
    }

    .footer-details {
        width:100%;
    }

    .footer-image {
        width:75px;
        height:90px;
    }

    .footer-address {
        padding-right:0;
        margin-top:0;
        p {
            font-size: 16px;
        }
    }

    .footer-posts {
        position:relative;
        float:left;
        margin-left:30px;  
        width:100%;
    }

    ///// ABOUT : 0 - 768 //////

    h1 {
        &.who-header{ margin-bottom : -1%;}
    }
    
    .col-container {
            p { text-align: center;}
        .col1 {
            width: 100%;
            float: none;
            margin-left: -3%;
        }
        .col2 {
            width: 80%;
            float: none;
            padding-right:3%;        
        }
    }
    .col-container-2 {
        p { text-align: center;}
        .col1-2 {
            width: 80%;
            float: none;
            margin-left: -3%;
        }
        .col2-2 {
            width: 100%;
            float: none;
            margin: 0;
        }
    }

    .col-container3 {
        height: 350px;
        p { text-align: center;}
        .col13 {
            width: 100%;
            margin-left: -3%;
        }
        .col23 {
            width: 50%;
            //margin : 8% 25% 0 25%;
            margin: 0 24% 0 26%;
            text-align: center;  
        }
    }
    
    .about-slanted-text-right-col{
         margin-left: 10%;
        -webkit-transform: rotate(0deg);        /* Safari */         
        -moz-transform: rotate(0deg);        /* Firefox */         
        -ms-transform: rotate(0deg);        /* IE */         
        -o-transform: rotate(0deg);        /* Opera */         
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);        /* Internet Explorer */
    }

    h3 {
        &.about-slanted-text-left-col{
            margin-left: 20%;
        }
        &.first, &.second, &.third {
            -webkit-transform: rotate(0deg);           /* Safari */
            -moz-transform: rotate(0deg);            /* Firefox */
            -ms-transform: rotate(0deg);            /* IE */             
            -o-transform: rotate(0deg);            /* Opera */             
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);    /* Internet Explorer */
        }
    }

    #word-cloud {
        .row {
            height:50px;
        }
    }

    ///// COMMUNITY PAGE : 0 - 768 //////

    .people-grid {
        li {
            margin: 0 4% 4% 0;
            width: 48%;
            .details {
                position:relative; 
                height:auto; 
                text-align: left; 
                margin:7px 0;
                padding:0;
                opacity:1; 
                font-size:12px;
                color:white;
                .name, .job, .social {
                    -moz-opacity: 1.00;
                    opacity:1;
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -o-transform: translateY(0);
                    -ms-transform: translateY(0);
                    transform: translateY(0);
                }
                .social {
                    width:100%;
                    height:auto;
                    &.facebook {
                        width: 32px;
                        height: 32px;
                        background:url('../img/social_links_white_32.png') no-repeat 0 0;
                    }
                    &.twitter {
                        width: 32px;
                        height: 32px;
                        background:url('../img/social_links_white_32.png') no-repeat -32px 0;
                    }
                }
            }
            &:nth-child(4n){margin-right:4%;}    // reset old nth-child
            &:nth-child(3n){margin-right:4%;}    // reset old nth-child
            &:nth-child(2n){margin-right:0;}    // every second list element to be flush against right side
            &:hover img {                       // on hover of list element fade out child image
                opacity: 1;   
            }
            &:hover p {                         // on hover of list element fade in child paragraph
                opacity: 1;
            }
        }
    }

    ///// CONTACT PAGE : 0 - 768 //////

    header {
            h1 {
            &.contact-header{
                margin-top: 10px; 
                margin-bottom:10px;
            }
        }
    }

    .inner-content.contact {
        margin: 0%;
        width: auto;
        height: auto;
        &.contact {
            width:100%;
            height: 600px;
            padding: 0;
        }
    }

    .maps {
        height:40%;
        padding-bottom: 170px;
        .contacts {
            list-style: none;
            float: left;
            width: 50%;
            height:auto;
            margin-left:20px;
            padding: 0 0 10px 0; 
            &.contacts-right {
                display:none;
            }
        }
    }

    .images div:not(.top-image) {   // all divs inside .images class except for .top-image
        display:none;
    }
}

/* ==========================================================================
   iPads (portrait and landscape)
   ========================================================================== */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    ////// GENERAL : 768 - 1024 ///////

    p {  
        font-size: 0.8em;
    }
    .footer-details { 
        width:100%;
    }
    .footer-posts {
        position:relative;
        float:left;
        margin-left:30px;  
        width:100%;
    }
    .footer-address {
        p {
            font-size: 22px;
        }
    }
    .footer-image {
        padding:0 3% 0 7%;
        width:120px;
        height:133px;
    }


    ////// ABOUT : 768 - 1024 ///////

    .col-container{
        height: 220px;
        margin-top:20px;
    }
    .col-container-2 {
        height: 180px;
        margin-top:20px;
    }
    .col-container3 {
        height: 350px;        
    }
    h3 {
        &.about-slanted-text-left-col{
            margin-left: 0%;
        }
    }
}

/* ==========================================================================
   Desktops and laptops : Minimum 1224px
   ========================================================================== */

@media screen and (min-width: 1224px) {

    ////// GENERAL : > 1224 ///////

    p{  
        font-size: 1.15em;
    }
    h1{
        &.index-header{margin-top:35%;}
    }

    ////// ABOUT : > 1224 ///////

    .col-container {
        height: 280px;
    }
    .col-container-2 {
        height: 220px;
    }
    .col-container3 {
        height: 330px;
    }
}

/* ==========================================================================
   Desktops and laptops : Minimum 1440px
   ========================================================================== */

@media screen and (min-width: 1400px) {

    ////// ABOUT : > 1440 ///////

    .col-container-2 {
        height: 240px;
    }
    #word-cloud {
        .row {
            height:100px;
        }
    }
}

/* ==========================================================================
   Desktops and laptops : Minimum 1680px
   ========================================================================== */

@media screen and (min-width: 1680px) {
    
    /////// ABOUT ////////

    .col1 p{  
        font-size: 1.5em;
    }
    .col2-2 p{  
        font-size: 1.6em;
    }
    .col13 {
        margin-top:20px;
    }
    .col13 p{  
        font-size: 1.9em;
        margin:10px 0;
    }
    .col-container {
        height: 400px;
    }
    .col-container-2 {
        height: 400px;
    }
    .col-container3 {
        height: 500px;
    }

    #word-cloud {
        .row {
            height:150px;
        }
    }

    /////// CONTACT ////////

    .maps {
        padding-bottom: 300px;
    }
}

/* ==========================================================================
   Desktops and laptops : Minimum 2200px
   ========================================================================== */

@media screen and (min-width: 2200px) {
    
    /////// ABOUT ////////

    .col1 p{  
        font-size: 2em;
    }
    .col2-2 p{  
        font-size: 2em;
    }
    .col13 {
        margin-top:20px;
    }
    .col13 p{  
        font-size: 2em;
        margin:10px 0;
    }
    .col-container {
        height: 520px;
        margin-top:30px;
    }
    .col-container-2 {
        height: 430px;
        margin-top:30px;
    }
    .col-container3 {
        height: 550px;
        margin-top:50px;
    }

    #word-cloud {
        .row {
            height:160px;
        }
    }

    /////// CONTACT ////////

    .maps {
        padding-bottom: 250px;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after { 
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid; 
    }

    thead { 
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    } 

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
