@import url("//hello.myfonts.net/count/269b38");
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* -- Fonts -- */
@font-face {
  font-family: 'Avenir';
  src: url("../fonts/269B38_0_0.eot");
  src: url("../fonts/269B38_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/269B38_0_0.woff") format("woff"), url("../fonts/269B38_0_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dk_pisangregular';
  src: url("../fonts/dk_pisang-webfont.eot");
  src: url("../fonts/dk_pisang-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dk_pisang-webfont.woff") format("woff"), url("../fonts/dk_pisang-webfont.ttf") format("truetype"), url("../fonts/dk_pisang-webfont.svg#dk_pisangregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatinModernMono10Regular';
  src: url("../fonts/lmmono10-regular-webfont.eot");
  src: url("../fonts/lmmono10-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lmmono10-regular-webfont.woff") format("woff"), url("../fonts/lmmono10-regular-webfont.ttf") format("truetype"), url("../fonts/lmmono10-regular-webfont.svg#LatinModernMono10Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 63, style.scss */
html,
button,
input,
select,
textarea {
  color: #222;
  background-color: #20CE55;
}

/* line 68, style.scss */
body {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'dk_pisangregular';
}

/* -- Headings -- */
/* line 75, style.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-align: left;
  margin: 0 0 25px;
}

/* line 81, style.scss */
h1, .h1 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-family: 'dk_pisangregular';
}

/* line 88, style.scss */
h2, .h2 {
  font-size: 24px;
  color: #666666;
}

/* line 92, style.scss */
h3, .h3 {
  font-size: 20px;
}

/* line 96, style.scss */
h4, .h4 {
  font-size: 16px;
}

/* line 99, style.scss */
h5, .h5 {
  font-size: 14px;
}

/* -- Generic Elements -- */
/* line 106, style.scss */
p {
  color: #20CE55;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 117, style.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 122, style.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 131, style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* 
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 144, style.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 152, style.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 162, style.scss */
textarea {
  resize: vertical;
}

/*
 * MOBILE HIDE AND SHOW
 */
/* line 171, style.scss */
.mobile-only {
  display: none;
}

/* line 175, style.scss */
.screen-only {
  display: block;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 183, style.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
Standard layout styles
========================================================================== */
/* line 200, style.scss */
#content {
  display: block;
  background-color: #20CE55;
  height: auto;
  float: right;
  width: 75%;
}
/* line 206, style.scss */
#content.journal {
  background-color: #FFFFFF;
}
/* line 207, style.scss */
#content p {
  color: #FFF;
  font-family: Avenir;
}

/* line 213, style.scss */
.inner-content {
  margin: 4%;
  width: auto;
  height: auto;
}
/* line 217, style.scss */
.inner-content.contact {
  height: 600px;
}

/* COMMUNITY PAGE CLASSES */
/* line 222, style.scss */
.people-grid {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 227, style.scss */
.people-grid li {
  display: block;
  position: relative;
  float: left;
  list-style: none outside none;
  margin: 0 2% 2% 0;
  width: 23.5%;
  z-index: 1;
}
/* line 235, style.scss */
.people-grid li * {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 242, style.scss */
.people-grid li .white-label {
  background-color: white;
  border-radius: 5px;
}
/* line 247, style.scss */
.people-grid li img {
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0 1px 4px #797;
}
/* line 253, style.scss */
.people-grid li .details {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 50%;
  left: 0;
  margin: -50px 0 0 0;
  text-align: center;
  color: green;
  z-index: 100;
  font-size: 20px;
}
/* line 265, style.scss */
.people-grid li .details .name {
  font-size: 22px;
  -webkit-transform: translateY(-500%);
  -moz-transform: translateY(-500%);
  -o-transform: translateY(-500%);
  -ms-transform: translateY(-500%);
  transform: translateY(-500%);
  -moz-opacity: 0.00;
  opacity: 0.00;
}
/* line 275, style.scss */
.people-grid li .details .job {
  -webkit-transform: translateY(500%);
  -moz-transform: translateY(500%);
  -o-transform: translateY(500%);
  -ms-transform: translateY(500%);
  transform: translateY(500%);
  -moz-opacity: 0.00;
  opacity: 0.00;
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  /* Safari */
}
/* line 286, style.scss */
.people-grid li .details .job, .people-grid li .details .social {
  font-size: 18px;
}
/* line 289, style.scss */
.people-grid li .details .social {
  -moz-opacity: 0.00;
  opacity: 0.00;
  transition: opacity 0.1s 0.02s ease;
  /* Mouse leave: immediate */
  margin-top: 20px;
}
/* line 298, style.scss */
.people-grid li:nth-child(4n) {
  margin-right: 0;
}
/* line 299, style.scss */
.people-grid li:hover img {
  opacity: 0.2;
}
/* line 303, style.scss */
.people-grid li:hover .details .name, .people-grid li:hover .details .job {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -moz-opacity: 1.00;
  opacity: 1.00;
}
/* line 312, style.scss */
.people-grid li:hover .details .social {
  transition: opacity 0.3s 0.3s ease;
  /* Mouse enter: delay */
  -moz-opacity: 1.00;
  opacity: 1.00;
}

/* ABOUT PAGE CLASSES */
/* line 325, style.scss */
.seperator {
  width: 100%;
}
/* line 327, style.scss */
.seperator img {
  width: 100%;
  height: auto;
}

/* line 330, style.scss */
.clear {
  clear: both;
}

/* line 334, style.scss */
.about-slanted-text-right-col {
  font-size: 2em;
  text-align: right;
  /* Safari */
  -webkit-transform: rotate(5deg);
  /* Firefox */
  -moz-transform: rotate(5deg);
  /* IE */
  -ms-transform: rotate(5deg);
  /* Opera */
  -o-transform: rotate(5deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* line 354, style.scss */
.about-slanted-text-left-col.first {
  font-size: 3.1em;
  -webkit-transform: rotate(1deg);
  /* Firefox */
  -moz-transform: rotate(1deg);
  /* IE */
  -ms-transform: rotate(1deg);
  /* Opera */
  -o-transform: rotate(1deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* line 373, style.scss */
.about-slanted-text-left-col.second {
  font-size: 3.7em;
  -webkit-transform: rotate(-1deg);
  /* Firefox */
  -moz-transform: rotate(-1deg);
  /* IE */
  -ms-transform: rotate(-1deg);
  /* Opera */
  -o-transform: rotate(-1deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* line 392, style.scss */
.about-slanted-text-left-col.third {
  font-size: 3.8em;
  -webkit-transform: rotate(1deg);
  /* Firefox */
  -moz-transform: rotate(1deg);
  /* IE */
  -ms-transform: rotate(1deg);
  /* Opera */
  -o-transform: rotate(1deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* line 413, style.scss */
.about-slanted-text-right-col-centered {
  font-size: 4em;
  text-align: center;
  line-height: 1;
  -webkit-transform: rotate(1deg);
  /* Firefox */
  -moz-transform: rotate(1deg);
  /* IE */
  -ms-transform: rotate(1deg);
  /* Opera */
  -o-transform: rotate(1deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* line 432, style.scss */
.col-container-3 {
  width: 100%;
}
/* line 434, style.scss */
.col-container-3 .col1-3 {
  width: 52%;
  float: left;
  padding-left: 3%;
}
/* line 441, style.scss */
.col-container-3 .col2-3 {
  width: 42%;
  float: left;
  padding-right: 3%;
  text-align: right;
}

/* line 451, style.scss */
p.center-paragraph {
  padding-left: 3%;
}

/* line 454, style.scss */
.how-header, .what-header, .work-header {
  line-height: 0.9;
  margin-top: 3%;
  /* determines spacing of headers*/
}

/* line 461, style.scss */
.client-list img {
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}

/* JOURNAL PAGE CLASSES */
/* line 467, style.scss */
#title {
  text-align: center;
  margin-bottom: 0;
  font-size: 13em;
}

/* line 472, style.scss */
#para1, #para2 {
  color: white;
  margin: 5%;
  margin-top: 0;
}

/* line 477, style.scss */
.community-table {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 484, style.scss */
.left-col {
  float: left;
  margin: 3%;
  width: 68%;
  font-family: 'LatinModernMono10Regular';
}

/* line 491, style.scss */
.navi {
  text-align: center;
}

/* line 494, style.scss */
.navi ul.pages {
  margin: 0;
  padding: 0;
}

/* line 498, style.scss */
.navi ul.pages li {
  display: inline;
  margin: 5px;
}

/* line 503, style.scss */
.post-title {
  color: #20CE55;
  margin: 10px 0 0;
}

/* line 508, style.scss */
.post {
  color: #808080;
  font-family: 'LatinModernMono10Regular';
}
/* line 512, style.scss */
.post a {
  color: #808080;
  text-decoration: none;
}
/* line 516, style.scss */
.post p {
  color: #808080 !important;
  font-family: 'LatinModernMono10Regular' !important;
  padding-top: 20px;
}

/* line 524, style.scss */
#journal-widget {
  background-color: #20CE55;
  display: block;
  float: left;
  height: 500px;
  left: 0;
  padding-top: 200px;
  position: relative;
  width: 23%;
  font-family: 'LatinModernMono10Regular';
}
/* line 534, style.scss */
#journal-widget ul {
  list-style: none;
}

/* line 539, style.scss */
header {
  margin: 0 0 0;
}
/* line 542, style.scss */
header h1.community-header {
  font-size: 10em;
  line-height: 0.9;
  margin-top: 3%;
}
/* line 547, style.scss */
header h1.contact-header {
  font-size: 10em;
  line-height: 0.9;
  margin-top: 0;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 554, style.scss */
header h1.index-header {
  font-size: 49px;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
}
/* line 560, style.scss */
header h1.journal-header {
  font-size: 10em;
  line-height: 0.9;
  margin-top: 0;
  color: #20CE55;
}

/* line 569, style.scss */
#journal-widget h3, li {
  text-align: center;
}

/*CONTACT PAGE CLASSES*/
/* line 575, style.scss */
.images img {
  border-radius: 5px;
  box-shadow: 0 1px 4px #797;
}

/* line 580, style.scss */
.top-image {
  float: left;
  margin-bottom: 20px;
}

/* line 585, style.scss */
.middle-image {
  float: left;
  margin-bottom: 20px;
  margin-right: 2%;
  width: 49%;
}
/* line 590, style.scss */
.middle-image.right {
  margin-right: 0;
}

/* line 595, style.scss */
.bottom-image {
  float: left;
  margin-bottom: 20px;
}

/* line 600, style.scss */
.maps {
  float: left;
  margin-bottom: 20px;
  margin-right: 2%;
  width: 100%;
  height: 100%;
  padding-bottom: 230px;
}
/* line 608, style.scss */
.maps.right {
  margin-right: 0;
}
/* line 611, style.scss */
.maps .contacts {
  list-style: none;
  float: left;
  width: 50%;
  height: auto;
  padding: 0 0 10px 0;
}
/* line 617, style.scss */
.maps .contacts p {
  font-family: Avenir;
}
/* line 619, style.scss */
.maps .contacts p a {
  color: #FFFFFF;
  text-decoration: none;
}
/* line 622, style.scss */
.maps .contacts p a:hover {
  opacity: 0.8;
}

/* line 629, style.scss */
#left-map-canvas, #right-map-canvas {
  float: left;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 4px #797;
}

/*FOOTER styles*/
/* line 639, style.scss */
.site-footer {
  display: block;
  float: right;
  padding-top: 20px;
  background-color: #FFFFFF;
  width: 75.13%;
  height: 250px;
  position: relative;
}

/* line 648, style.scss */
.site-footer h3, p {
  color: #20CE55;
}

/* line 652, style.scss */
.journal-site-footer {
  display: block;
  clear: both;
  float: right;
  padding-top: 20px;
  background-color: #20CE55;
  width: 75.13%;
  height: 250px;
}

/* line 661, style.scss */
.journal-site-footer p, h3 {
  color: #FFFFFF;
}

/* line 665, style.scss */
.footer-container {
  overflow: hidden;
  margin: 0 auto;
  padding-top: 0;
  top: 7px;
  position: relative;
}

/* line 673, style.scss */
.footer-content {
  float: left;
  overflow: hidden;
}

/* line 678, style.scss */
.footer-details {
  float: left;
  width: 380px;
}

/* line 683, style.scss */
.footer-image {
  float: left;
  padding: 0 7%;
}

/* line 688, style.scss */
.footer-address {
  float: left;
}
/* line 690, style.scss */
.footer-address p {
  margin: 0;
  font-size: 25px;
}

/* line 696, style.scss */
.footer-posts {
  float: right;
  padding-right: 30px;
}
/* line 699, style.scss */
.footer-posts ul {
  list-style: none;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
@media screen and (min-width: 0px) and (max-width: 599px) {
  /* line 714, style.scss */
  #content {
    display: block;
    background-color: #20CE55;
    height: auto;
    width: 100%;
  }

  /* line 721, style.scss */
  .com-table-person {
    width: 40%;
    height: 200px;
    margin: 0%;
    background-color: green;
    display: block;
    float: left;
  }

  /* line 729, style.scss */
  .sidebar {
    width: 100%;
    background-color: white;
    font-family: 'dk_pisangregular';
    color: #20CE55;
    text-align: center;
    padding-bottom: 3%;
  }
  /* line 738, style.scss */
  .sidebar ul li {
    font-size: 4em;
    list-style-type: none;
    text-align: center;
    line-height: 1;
  }
  /* line 743, style.scss */
  .sidebar ul li.journalfont {
    font-size: 60px;
  }
  /* line 744, style.scss */
  .sidebar ul li.communityfont {
    font-size: 70px;
  }
  /* line 745, style.scss */
  .sidebar ul li.contactfont {
    font-size: 80px;
  }
  /* line 746, style.scss */
  .sidebar ul li.aboutfont {
    font-size: 60px;
  }
  /* line 747, style.scss */
  .sidebar ul li a:hover {
    opacity: 0.8;
    color: #20CE55;
  }
  /* line 750, style.scss */
  .sidebar img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 756, style.scss */
  .sidebar a {
    color: #20CE55;
    text-decoration: none;
  }
  /* line 760, style.scss */
  .sidebar h4 {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    margin: 5%;
  }

  /* line 767, style.scss */
  p {
    font-size: 0.8em;
  }

  /* line 772, style.scss */
  h1.index-header {
    margin-top: 44%;
  }

  /*COMMUNITY PAGE*/
  /* line 778, style.scss */
  .people-grid li {
    margin: 0 4% 4% 0;
    width: 48%;
  }
  /* line 781, style.scss */
  .people-grid li p {
    position: relative;
    height: auto;
    text-align: left;
    margin: 7px 0;
    padding: 0;
    opacity: 1;
    font-size: 12px;
  }
  /* line 790, style.scss */
  .people-grid li:nth-child(4n) {
    margin-right: 4%;
  }
  /* line 791, style.scss */
  .people-grid li:nth-child(3n) {
    margin-right: 4%;
  }
  /* line 792, style.scss */
  .people-grid li:nth-child(2n) {
    margin-right: 0;
  }
  /* line 793, style.scss */
  .people-grid li:hover img {
    opacity: 1;
  }
  /* line 796, style.scss */
  .people-grid li:hover p {
    opacity: 1;
  }

  /* line 806, style.scss */
  header h1.contact-header {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* line 813, style.scss */
  .inner-content.contact {
    margin: 0%;
    width: auto;
    height: auto;
  }
  /* line 817, style.scss */
  .inner-content.contact.contact {
    height: 600px;
  }

  /* line 820, style.scss */
  .maps {
    float: left;
    margin-bottom: 20px;
    margin-right: 2%;
    width: 100%;
    height: 40%;
    padding-bottom: 170px;
  }
  /* line 828, style.scss */
  .maps.right {
    margin-right: 0;
  }
  /* line 831, style.scss */
  .maps .contacts {
    list-style: none;
    float: left;
    width: 50%;
    height: auto;
    margin-left: 20px;
    padding: 0 0 10px 0;
  }
  /* line 838, style.scss */
  .maps .contacts.contacts-right {
    display: none;
  }
  /* line 841, style.scss */
  .maps .contacts p {
    font-family: Avenir;
  }
  /* line 843, style.scss */
  .maps .contacts p a {
    color: #FFFFFF;
    text-decoration: none;
  }
  /* line 846, style.scss */
  .maps .contacts p a:hover {
    opacity: 0.8;
  }

  /* line 854, style.scss */
  .images div:not(.top-image) {
    display: none;
  }

  /*FOOTER styles*/
  /* line 860, style.scss */
  .site-footer {
    display: block;
    padding: 20px 0;
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }

  /* line 869, style.scss */
  .site-footer h3, p {
    color: #20CE55;
  }

  /* line 873, style.scss */
  .journal-site-footer {
    display: block;
    clear: both;
    float: right;
    padding-top: 20px;
    background-color: #20CE55;
    width: 100%;
    height: 250px;
  }

  /* line 882, style.scss */
  .journal-site-footer p, h3 {
    color: #FFFFFF;
  }

  /* line 886, style.scss */
  .footer-container {
    overflow: hidden;
    margin: 0 auto;
    padding-top: 0;
    top: 7px;
    position: relative;
  }

  /* line 894, style.scss */
  .footer-content {
    float: left;
    overflow: hidden;
  }

  /* line 899, style.scss */
  .footer-image {
    float: left;
  }

  /* line 903, style.scss */
  .footer-address {
    float: left;
    padding-right: 0;
  }
  /* line 907, style.scss */
  .footer-address p {
    margin: 0;
    font-size: 25px;
  }

  /* line 913, style.scss */
  .footer-posts {
    position: relative;
    float: left;
    margin-left: 30px;
  }
  /* line 917, style.scss */
  .footer-posts ul {
    list-style: none;
  }

  /* line 925, style.scss */
  .mobile-logo {
    width: 40%;
    float: left;
    padding-left: 5%;
    background-color: white;
  }

  /* line 933, style.scss */
  .mobile-menu {
    width: 55%;
    float: left;
    background-color: white;
    margin-top: -7%;
  }

  /* line 941, style.scss */
  h1.index-header {
    margin-top: 44%;
  }

  /* line 944, style.scss */
  .index-header-mobile {
    font-size: 2em;
    text-align: center;
    padding: 10%;
  }

  /* line 951, style.scss */
  .sidebar ul {
    padding-top: 20%;
  }

  /* line 953, style.scss */
  .col-container {
    width: 100%;
  }
  /* line 955, style.scss */
  .col-container .col1 {
    width: 100%;
    float: none;
    padding-left: 3%;
  }
  /* line 961, style.scss */
  .col-container .col2 {
    width: 100%;
    float: none;
    padding-right: 3%;
  }

  /* line 969, style.scss */
  .screen-only {
    display: none;
  }

  /* line 973, style.scss */
  .mobile-only {
    display: block;
  }

  /* line 977, style.scss */
  .com-table-person {
    width: 25%;
    height: 200px;
    background-color: green;
    display: block;
    float: left;
  }
}
@media screen and (min-width: 600px) {
  /* line 988, style.scss */
  .sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    float: left;
    background-color: white;
    font-family: 'dk_pisangregular';
    color: #20CE55;
    text-align: center;
  }
  /* line 997, style.scss */
  .sidebar ul {
    margin: 0;
    padding: 0;
    margin-top: 10%;
  }
  /* line 1001, style.scss */
  .sidebar ul li {
    font-size: 4em;
    list-style-type: none;
    text-align: center;
    line-height: 1;
  }
  /* line 1006, style.scss */
  .sidebar ul li.journalfont {
    font-size: 60px;
  }
  /* line 1007, style.scss */
  .sidebar ul li.communityfont {
    font-size: 70px;
  }
  /* line 1008, style.scss */
  .sidebar ul li.contactfont {
    font-size: 80px;
  }
  /* line 1009, style.scss */
  .sidebar ul li.aboutfont {
    font-size: 60px;
  }
  /* line 1010, style.scss */
  .sidebar ul li a:hover {
    opacity: 0.8;
    color: #20CE55;
  }
  /* line 1013, style.scss */
  .sidebar img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 1019, style.scss */
  .sidebar a {
    color: #20CE55;
    text-decoration: none;
  }
  /* line 1023, style.scss */
  .sidebar h4 {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    margin: 5%;
  }

  /* line 1030, style.scss */
  p {
    font-size: 0.9em;
    color: #20CE55;
  }

  /* line 1035, style.scss */
  h1.index-header {
    margin-top: 37%;
  }

  /* line 1037, style.scss */
  .col-container {
    width: 100%;
    height: 260px;
  }
  /* line 1040, style.scss */
  .col-container .col1 {
    float: left;
    width: 10%;
    padding-left: 3%;
    font-size: 1em;
  }
  /* line 1048, style.scss */
  .col-container .col2 {
    width: 43%;
    float: left;
    padding-right: 3%;
    margin-left: 12%;
  }
  /* line 1055, style.scss */
  .col-container .col3 {
    width: 39%;
    float: left;
    padding-right: 3%;
  }

  /* line 1063, style.scss */
  .col-container-2 {
    width: 100%;
    height: 280px;
  }
  /* line 1066, style.scss */
  .col-container-2 .col1-2 {
    width: 34%;
    float: left;
    padding-left: 3%;
  }
  /* line 1073, style.scss */
  .col-container-2 .col2-2 {
    width: 43%;
    float: left;
    padding-right: 3%;
    text-align: right;
  }
  /* line 1080, style.scss */
  .col-container-2 .col2-3 {
    width: 10%;
    float: left;
    font-size: 1em;
  }

  /* line 1087, style.scss */
  .col-container3 {
    width: 100%;
    height: 350px;
  }
  /* line 1091, style.scss */
  .col-container3 .col13 {
    width: 10%;
    float: left;
    font-size: 1em;
  }
  /* line 1098, style.scss */
  .col-container3 .col23 {
    width: 58%;
    float: left;
    padding-right: 3%;
    margin-left: 12%;
  }
  /* line 1104, style.scss */
  .col-container3 .col23 .bullet-margin {
    margin-top: 5px;
  }
  /* line 1109, style.scss */
  .col-container3 .col33 {
    width: 24%;
    float: left;
    padding-right: 3%;
  }

  /* line 1117, style.scss */
  .who-header {
    line-height: 0.9;
    overflow: visible;
    margin-left: -90px;
    margin-top: 72px;
    font-size: 2.7em;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 1141, style.scss */
  .do-header {
    line-height: 0.9;
    overflow: visible;
    font-size: 2em;
    text-align: left;
    position: absolute;
    /* determines spacing of headers*/
    /* Safari */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 1165, style.scss */
  .how-header {
    line-height: 0.9;
    overflow: visible;
    margin-left: -110px;
    margin-top: 110px;
    font-size: 3.3em;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 1191, style.scss */
  p.padded-p {
    padding-top: 5%;
  }

  /* line 1194, style.scss */
  .com-table-person {
    width: 25%;
    height: 200px;
    margin: 3.12%;
    background-color: green;
    display: block;
    float: left;
  }
}
@media screen and (min-width: 1100px) {
  /* line 1207, style.scss */
  .sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    float: left;
    background-color: white;
    font-family: 'dk_pisangregular';
    color: #20CE55;
    text-align: center;
  }
  /* line 1216, style.scss */
  .sidebar ul {
    margin: 0;
    padding: 0;
    margin-top: 10%;
  }
  /* line 1220, style.scss */
  .sidebar ul li {
    font-size: 4em;
    list-style-type: none;
    text-align: center;
    line-height: 1;
  }
  /* line 1225, style.scss */
  .sidebar ul li.journalfont {
    font-size: 60px;
  }
  /* line 1226, style.scss */
  .sidebar ul li.communityfont {
    font-size: 70px;
  }
  /* line 1227, style.scss */
  .sidebar ul li.contactfont {
    font-size: 80px;
  }
  /* line 1228, style.scss */
  .sidebar ul li.aboutfont {
    font-size: 60px;
  }
  /* line 1229, style.scss */
  .sidebar ul li a:hover {
    opacity: 0.8;
    color: #20CE55;
  }
  /* line 1232, style.scss */
  .sidebar img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 1238, style.scss */
  .sidebar a {
    color: #20CE55;
    text-decoration: none;
  }
  /* line 1242, style.scss */
  .sidebar h4 {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    margin: 5%;
  }

  /* line 1249, style.scss */
  p {
    font-size: 1em;
    color: #20CE55;
  }

  /* line 1254, style.scss */
  h1.index-header {
    margin-top: 35%;
  }

  /* line 1256, style.scss */
  .col-container {
    width: 100%;
    height: 280px;
  }
  /* line 1259, style.scss */
  .col-container .col1 {
    float: left;
    width: 10%;
    padding-left: 3%;
    font-size: 1em;
  }
  /* line 1268, style.scss */
  .col-container .col2 {
    width: 43%;
    float: left;
    padding-right: 3%;
    margin-left: 12%;
  }
  /* line 1275, style.scss */
  .col-container .col3 {
    width: 39%;
    float: left;
    padding-right: 3%;
  }

  /* line 1283, style.scss */
  .col-container-2 {
    width: 100%;
    height: 300px;
  }
  /* line 1286, style.scss */
  .col-container-2 .col1-2 {
    width: 34%;
    float: left;
    padding-left: 3%;
  }
  /* line 1293, style.scss */
  .col-container-2 .col2-2 {
    width: 43%;
    float: left;
    padding-right: 3%;
    text-align: right;
  }
  /* line 1300, style.scss */
  .col-container-2 .col2-3 {
    width: 10%;
    float: left;
    font-size: 1em;
  }

  /* line 1307, style.scss */
  .col-container3 {
    width: 100%;
    height: 330px;
  }
  /* line 1311, style.scss */
  .col-container3 .col13 {
    width: 10%;
    float: left;
    font-size: 1em;
  }
  /* line 1318, style.scss */
  .col-container3 .col23 {
    width: 58%;
    float: left;
    padding-right: 3%;
    margin-left: 12%;
  }
  /* line 1324, style.scss */
  .col-container3 .col23 .bullet-margin {
    margin-top: 5px;
  }
  /* line 1329, style.scss */
  .col-container3 .col33 {
    width: 24%;
    float: left;
    padding-right: 3%;
  }

  /* line 1337, style.scss */
  .who-header {
    line-height: 0.9;
    overflow: visible;
    margin-left: -90px;
    margin-top: 80px;
    font-size: 2.7em;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 1361, style.scss */
  .do-header {
    line-height: 0.9;
    overflow: visible;
    font-size: 2em;
    text-align: left;
    position: absolute;
    /* determines spacing of headers*/
    /* Safari */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 1385, style.scss */
  .how-header {
    line-height: 0.9;
    overflow: visible;
    margin-left: -110px;
    margin-top: 110px;
    font-size: 3.3em;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 1411, style.scss */
  p.padded-p {
    padding-top: 5%;
  }

  /* line 1413, style.scss */
  .com-table-person {
    width: 25%;
    height: 200px;
    margin: 3.12%;
    background-color: green;
    display: block;
    float: left;
  }
}
@media screen and (min-width: 1400px) {
  /* line 1427, style.scss */
  .sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    float: left;
    background-color: white;
    font-family: 'dk_pisangregular';
    color: #20CE55;
    text-align: center;
  }
  /* line 1436, style.scss */
  .sidebar ul {
    margin: 0;
    padding: 0;
    margin-top: 10%;
  }
  /* line 1440, style.scss */
  .sidebar ul li {
    font-size: 4em;
    list-style-type: none;
    text-align: center;
    line-height: 1;
  }
  /* line 1445, style.scss */
  .sidebar ul li.journalfont {
    font-size: 60px;
  }
  /* line 1446, style.scss */
  .sidebar ul li.communityfont {
    font-size: 70px;
  }
  /* line 1447, style.scss */
  .sidebar ul li.contactfont {
    font-size: 80px;
  }
  /* line 1448, style.scss */
  .sidebar ul li.aboutfont {
    font-size: 60px;
  }
  /* line 1449, style.scss */
  .sidebar ul li a:hover {
    opacity: 0.8;
    color: #20CE55;
  }
  /* line 1452, style.scss */
  .sidebar img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 1458, style.scss */
  .sidebar a {
    color: #20CE55;
    text-decoration: none;
  }
  /* line 1462, style.scss */
  .sidebar h4 {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    margin: 5%;
  }

  /* line 1469, style.scss */
  p {
    font-size: 1.2em;
  }

  /* line 1473, style.scss */
  h1.index-header {
    margin-top: 34.5%;
  }

  /* line 1475, style.scss */
  .col-container {
    width: 100%;
    height: 300px;
  }
  /* line 1479, style.scss */
  .col-container .col1 {
    width: 10%;
    float: left;
    font-size: 1em;
  }
  /* line 1486, style.scss */
  .col-container .col2 {
    width: 43%;
    float: left;
    padding-right: 3%;
    margin-left: 12%;
  }
  /* line 1494, style.scss */
  .col-container .col3 {
    width: 39%;
    float: left;
    padding-right: 3%;
  }

  /* line 1502, style.scss */
  .col-container-2 {
    width: 100%;
    height: 320px;
  }
  /* line 1505, style.scss */
  .col-container-2 .col1-2 {
    width: 34%;
    float: left;
    padding-left: 3%;
  }
  /* line 1512, style.scss */
  .col-container-2 .col2-2 {
    width: 43%;
    float: left;
    padding-right: 3%;
    text-align: right;
  }
  /* line 1519, style.scss */
  .col-container-2 .col2-3 {
    width: 10%;
    float: left;
    font-size: 1em;
  }

  /* line 1526, style.scss */
  .col-container3 {
    width: 100%;
    height: 400px;
  }
  /* line 1530, style.scss */
  .col-container3 .col13 {
    width: 10%;
    float: left;
    font-size: 1em;
  }
  /* line 1537, style.scss */
  .col-container3 .col23 {
    width: 58%;
    float: left;
    padding-right: 3%;
    margin-left: 12%;
    color: #000;
  }
  /* line 1543, style.scss */
  .col-container3 .col23 .bullet-margin {
    margin-top: 5px;
  }
  /* line 1548, style.scss */
  .col-container3 .col33 {
    width: 24%;
    float: left;
    padding-right: 3%;
    color: #000;
  }

  /* line 1558, style.scss */
  .who-header {
    line-height: 0.9;
    overflow: visible;
    margin-left: -130px;
    margin-top: 100px;
    font-size: 3.7em;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 1582, style.scss */
  .do-header {
    line-height: 0.9;
    overflow: visible;
    font-size: 2em;
    text-align: left;
    position: absolute;
    /* determines spacing of headers*/
    /* Safari */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 1606, style.scss */
  .how-header {
    line-height: 0.9;
    overflow: visible;
    margin-left: -120px;
    margin-top: 127px;
    font-size: 4.1em;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 1632, style.scss */
  p.padded-p {
    padding-top: 5%;
  }

  /* line 1634, style.scss */
  .com-table-person {
    width: 25%;
    height: 200px;
    margin: 3.12%;
    background-color: green;
    display: block;
    float: left;
  }
}
@media screen and (min-width: 1280px) {
  /* line 1648, style.scss */
  .sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    float: left;
    background-color: white;
    font-family: 'dk_pisangregular';
    color: #20CE55;
    text-align: center;
  }
  /* line 1657, style.scss */
  .sidebar ul {
    margin: 0;
    padding: 0;
    margin-top: 10%;
  }
  /* line 1661, style.scss */
  .sidebar ul li {
    font-size: 4em;
    list-style-type: none;
    text-align: center;
    line-height: 1;
  }
  /* line 1666, style.scss */
  .sidebar ul li.journalfont {
    font-size: 60px;
  }
  /* line 1667, style.scss */
  .sidebar ul li.communityfont {
    font-size: 70px;
  }
  /* line 1668, style.scss */
  .sidebar ul li.contactfont {
    font-size: 80px;
  }
  /* line 1669, style.scss */
  .sidebar ul li.aboutfont {
    font-size: 60px;
  }
  /* line 1670, style.scss */
  .sidebar ul li a:hover {
    opacity: 0.8;
    color: #20CE55;
  }
  /* line 1673, style.scss */
  .sidebar img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 1679, style.scss */
  .sidebar a {
    color: #20CE55;
    text-decoration: none;
  }
  /* line 1683, style.scss */
  .sidebar h4 {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    margin: 5%;
  }

  /* line 1690, style.scss */
  p {
    font-size: 1.1em;
  }

  /* line 1694, style.scss */
  h1.index-header {
    margin-top: 35%;
  }

  /* line 1696, style.scss */
  .col-container {
    width: 100%;
    height: 300px;
  }
  /* line 1700, style.scss */
  .col-container .col1 {
    width: 10%;
    float: left;
    font-size: 1em;
  }
  /* line 1707, style.scss */
  .col-container .col2 {
    width: 43%;
    float: left;
    padding-right: 3%;
    margin-left: 12%;
    color: #000;
  }
  /* line 1715, style.scss */
  .col-container .col3 {
    width: 39%;
    float: left;
    padding-right: 3%;
    color: #000;
  }

  /* line 1724, style.scss */
  .col-container-2 {
    width: 100%;
    height: 320px;
  }
  /* line 1727, style.scss */
  .col-container-2 .col1-2 {
    width: 34%;
    float: left;
    padding-left: 3%;
  }
  /* line 1734, style.scss */
  .col-container-2 .col2-2 {
    width: 43%;
    float: left;
    padding-right: 3%;
    text-align: right;
  }
  /* line 1741, style.scss */
  .col-container-2 .col2-3 {
    width: 10%;
    float: left;
    font-size: 1em;
  }

  /* line 1748, style.scss */
  .col-container3 {
    width: 100%;
    height: 350px;
  }
  /* line 1752, style.scss */
  .col-container3 .col13 {
    width: 10%;
    float: left;
    font-size: 1em;
  }
  /* line 1759, style.scss */
  .col-container3 .col23 {
    width: 58%;
    float: left;
    padding-right: 3%;
    margin-left: 12%;
    color: #000;
  }
  /* line 1765, style.scss */
  .col-container3 .col23 .bullet-margin {
    margin-top: 5px;
  }
  /* line 1770, style.scss */
  .col-container3 .col33 {
    width: 24%;
    float: left;
    padding-right: 3%;
    color: #000;
  }

  /* line 1779, style.scss */
  .who-header {
    line-height: 0.9;
    overflow: visible;
    margin-left: -90px;
    margin-top: 80px;
    font-size: 2.9em;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 1803, style.scss */
  .do-header {
    line-height: 0.9;
    overflow: visible;
    font-size: 2em;
    text-align: left;
    position: absolute;
    /* determines spacing of headers*/
    /* Safari */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 1827, style.scss */
  .how-header {
    line-height: 0.9;
    overflow: visible;
    margin-left: -130px;
    margin-top: 127px;
    font-size: 3.9em;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 1853, style.scss */
  p.padded-p {
    padding-top: 5%;
  }

  /* line 1855, style.scss */
  .com-table-person {
    width: 25%;
    height: 200px;
    margin: 3.12%;
    background-color: green;
    display: block;
    float: left;
  }
}
@media screen and (min-width: 1400px) {
  /* line 1869, style.scss */
  .sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    float: left;
    background-color: white;
    font-family: 'dk_pisangregular';
    color: #20CE55;
    text-align: center;
  }
  /* line 1878, style.scss */
  .sidebar ul {
    margin: 0;
    padding: 0;
    margin-top: 10%;
  }
  /* line 1882, style.scss */
  .sidebar ul li {
    font-size: 4em;
    list-style-type: none;
    text-align: center;
    line-height: 1;
  }
  /* line 1887, style.scss */
  .sidebar ul li.journalfont {
    font-size: 60px;
  }
  /* line 1888, style.scss */
  .sidebar ul li.communityfont {
    font-size: 70px;
  }
  /* line 1889, style.scss */
  .sidebar ul li.contactfont {
    font-size: 80px;
  }
  /* line 1890, style.scss */
  .sidebar ul li.aboutfont {
    font-size: 60px;
  }
  /* line 1891, style.scss */
  .sidebar ul li a:hover {
    opacity: 0.8;
    color: #20CE55;
  }
  /* line 1894, style.scss */
  .sidebar img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 1900, style.scss */
  .sidebar a {
    color: #20CE55;
    text-decoration: none;
  }
  /* line 1904, style.scss */
  .sidebar h4 {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    margin: 5%;
  }

  /* line 1915, style.scss */
  h1.index-header {
    margin-top: 34.5%;
  }

  /* line 1917, style.scss */
  .col-container {
    width: 100%;
    height: 300px;
  }
  /* line 1921, style.scss */
  .col-container .col1 {
    width: 10%;
    float: left;
    font-size: 1em;
  }
  /* line 1928, style.scss */
  .col-container .col2 {
    width: 43%;
    float: left;
    padding-right: 3%;
    margin-left: 12%;
    color: #000;
  }
  /* line 1936, style.scss */
  .col-container .col3 {
    width: 39%;
    float: left;
    padding-right: 3%;
    color: #000;
  }

  /* line 1945, style.scss */
  .col-container-2 {
    width: 100%;
    height: 320px;
  }
  /* line 1948, style.scss */
  .col-container-2 .col1-2 {
    width: 34%;
    float: left;
    padding-left: 3%;
  }
  /* line 1955, style.scss */
  .col-container-2 .col2-2 {
    width: 43%;
    float: left;
    padding-right: 3%;
    text-align: right;
  }
  /* line 1962, style.scss */
  .col-container-2 .col2-3 {
    width: 10%;
    float: left;
    font-size: 1em;
  }

  /* line 1969, style.scss */
  .col-container3 {
    width: 100%;
    height: 400px;
  }
  /* line 1973, style.scss */
  .col-container3 .col13 {
    width: 10%;
    float: left;
    font-size: 1em;
  }
  /* line 1980, style.scss */
  .col-container3 .col23 {
    width: 58%;
    float: left;
    padding-right: 3%;
    margin-left: 12%;
    color: #000;
  }
  /* line 1986, style.scss */
  .col-container3 .col23 .bullet-margin {
    margin-top: 5px;
  }
  /* line 1991, style.scss */
  .col-container3 .col33 {
    width: 24%;
    float: left;
    padding-right: 3%;
    color: #000;
  }

  /* line 2001, style.scss */
  .who-header {
    line-height: 0.9;
    overflow: visible;
    margin-left: -130px;
    margin-top: 100px;
    font-size: 3.7em;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 2025, style.scss */
  .do-header {
    line-height: 0.9;
    overflow: visible;
    font-size: 2em;
    text-align: left;
    position: absolute;
    /* determines spacing of headers*/
    /* Safari */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 2049, style.scss */
  .how-header {
    line-height: 0.9;
    overflow: visible;
    margin-left: -130px;
    margin-top: 127px;
    font-size: 4.1em;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 2075, style.scss */
  p.padded-p {
    padding-top: 5%;
  }

  /* line 2077, style.scss */
  .com-table-person {
    width: 25%;
    height: 200px;
    margin: 3.12%;
    background-color: green;
    display: block;
    float: left;
  }
}
@media screen and (min-width: 1680px) {
  /* line 2091, style.scss */
  .sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    float: left;
    background-color: white;
    font-family: 'dk_pisangregular';
    color: #20CE55;
    text-align: center;
  }
  /* line 2100, style.scss */
  .sidebar ul {
    margin: 0;
    padding: 0;
    margin-top: 10%;
  }
  /* line 2104, style.scss */
  .sidebar ul li {
    font-size: 4em;
    list-style-type: none;
    text-align: center;
    line-height: 1;
  }
  /* line 2109, style.scss */
  .sidebar ul li.journalfont {
    font-size: 60px;
  }
  /* line 2110, style.scss */
  .sidebar ul li.communityfont {
    font-size: 70px;
  }
  /* line 2111, style.scss */
  .sidebar ul li.contactfont {
    font-size: 80px;
  }
  /* line 2112, style.scss */
  .sidebar ul li.aboutfont {
    font-size: 60px;
  }
  /* line 2113, style.scss */
  .sidebar ul li a:hover {
    opacity: 0.8;
    color: #20CE55;
  }
  /* line 2116, style.scss */
  .sidebar img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 2122, style.scss */
  .sidebar a {
    color: #20CE55;
    text-decoration: none;
  }
  /* line 2126, style.scss */
  .sidebar h4 {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    margin: 5%;
  }

  /* line 2135, style.scss */
  p {
    font-size: 1.5em;
  }

  /* line 2139, style.scss */
  h1.index-header {
    margin-top: 33.9%;
  }

  /* line 2141, style.scss */
  .col-container {
    width: 100%;
    height: 350px;
  }
  /* line 2145, style.scss */
  .col-container .col1 {
    width: 10%;
    float: left;
    font-size: 1em;
  }
  /* line 2152, style.scss */
  .col-container .col2 {
    width: 43%;
    float: left;
    padding-right: 3%;
    margin-left: 12%;
    color: #000;
  }
  /* line 2160, style.scss */
  .col-container .col3 {
    width: 39%;
    float: left;
    padding-right: 3%;
    color: #000;
  }

  /* line 2169, style.scss */
  .col-container-2 {
    width: 100%;
    height: 400px;
  }
  /* line 2172, style.scss */
  .col-container-2 .col1-2 {
    width: 34%;
    float: left;
    padding-left: 3%;
  }
  /* line 2179, style.scss */
  .col-container-2 .col2-2 {
    width: 43%;
    float: left;
    padding-right: 3%;
    text-align: right;
  }
  /* line 2186, style.scss */
  .col-container-2 .col2-3 {
    width: 10%;
    float: left;
    font-size: 1em;
  }

  /* line 2193, style.scss */
  .col-container3 {
    width: 100%;
    height: 500px;
  }
  /* line 2197, style.scss */
  .col-container3 .col13 {
    width: 10%;
    float: left;
    font-size: 1em;
  }
  /* line 2204, style.scss */
  .col-container3 .col23 {
    width: 58%;
    float: left;
    padding-right: 3%;
    margin-left: 12%;
    color: #000;
  }
  /* line 2210, style.scss */
  .col-container3 .col23 .bullet-margin {
    margin-top: 5px;
  }
  /* line 2215, style.scss */
  .col-container3 .col33 {
    width: 24%;
    float: left;
    padding-right: 3%;
    color: #000;
  }

  /* line 2224, style.scss */
  .who-header {
    line-height: 0.9;
    overflow: visible;
    font-size: 4em;
    margin-left: -160px;
    margin-top: 110px;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 2248, style.scss */
  .do-header {
    line-height: 0.9;
    overflow: visible;
    font-size: 4em;
    text-align: left;
    position: absolute;
    /* determines spacing of headers*/
    /* Safari */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 2272, style.scss */
  .how-header {
    line-height: 0.9;
    overflow: visible;
    margin-left: -170px;
    margin-top: 160px;
    font-size: 5em;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  /* line 2298, style.scss */
  p.padded-p {
    padding-top: 5%;
  }

  /* line 2301, style.scss */
  .com-table-person {
    width: 25%;
    height: 200px;
    margin: 1%;
    background-color: green;
    display: block;
    float: left;
  }

  /* line 2310, style.scss */
  .maps {
    padding-bottom: 300px;
  }

  /* line 2315, style.scss */
  p.community-p {
    padding-top: 5%;
  }
}
/* line 2321, style.scss */
.placeholder-left img {
  width: 8%;
  height: auto;
  margin-left: 4%;
}

/* line 2325, style.scss */
.bottom-placeholder img {
  width: 100%;
  height: auto;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 2337, style.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 2345, style.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 2356, style.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 2365, style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 2382, style.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 2395, style.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 2412, style.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 2417, style.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 2426, style.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 2453, style.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 2461, style.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 2465, style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 2469, style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 2479, style.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 2484, style.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 2489, style.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 2494, style.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 2498, style.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 2508, style.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 2514, style.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
